<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.PlaylistMapper">

<!--    <resultMap id="playlistResultMap" type="PlaylistVO">-->
<!--        <result property="playlistId" column="PLAYLIST_ID" />-->
<!--        <result property="userId" column="USER_ID" />-->
<!--        <result property="playlistTitle" column="PLAYLIST_TITLE" />-->
<!--        <result property="playlistIsPublic" column="PLAYLIST_IS_PUBLIC" />-->
<!--        <result property="playlistCreateDate" column="PLAYLIST_CREATE_DATE" />-->
<!--    </resultMap>-->
<!--    <select id="selectPlaylist" statementType="CALLABLE" parameterType="java.util.Map">-->
<!--        {-->
<!--            CALL SELECT_PLAYLIST(-->
<!--                #{userId, mode=IN, jdbcType=NUMERIC},-->
<!--                #{result, mode=OUT, jdbcType=CURSOR, javaType=java.sql.ResultSet, resultMap=playlistResultMap}-->
<!--            )-->
<!--        }-->
<!--    </select>-->

    <select id="selectPlaylist" resultType="PlaylistVO" parameterType="PlaylistVO">
        SELECT * FROM PLAYLIST WHERE USER_ID = #{userId} ORDER BY USER_ID DESC
    </select>




    <insert id="insertPlaylist" statementType="CALLABLE" parameterType="PlaylistVO" >
        {
            CALL INSERT_PLAYLIST(
                #{userId, mode=IN, jdbcType=NUMERIC},
                #{playlistTitle, mode=IN, jdbcType=VARCHAR},
                #{playlistIsPublic, mode=IN, jdbcType=NUMERIC},
                #{resultMsg, mode=OUT, jdbcType=VARCHAR},
                #{playlistId, mode=OUT, jdbcType=NUMERIC}
            )
        }
    </insert>

</mapper>