<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.PlaylistTrackMapper">

    <insert id="insertPlaylistTrack" parameterType="PlaylistTrackVO" statementType="CALLABLE" >
        {
            CALL INSERT_PLAYLIST_TRACK(
                #{playlistId, mode=IN, jdbcType=NUMERIC},
                #{trackId, mode=IN, jdbcType=VARCHAR},
                #{trackOrder, mode=IN, jdbcType=NUMERIC},
                #{resultMsg, mode=OUT, jdbcType=VARCHAR}
            )
        }
    </insert>
<!--    <insert id="insertPlaylistTrack" parameterType="PlaylistTrackVO" useGeneratedKeys="false">-->
<!--        INSERT INTO PLAYLIST_TRACK (-->
<!--            PLAYLIST_ID,-->
<!--            TRACK_ID,-->
<!--            TRACK_ORDER-->
<!--        )-->
<!--        VALUES (-->
<!--            #{playlistId},-->
<!--            #{trackId},-->
<!--            #{trackOrder}-->
<!--        )-->
<!--    </insert>-->
    <resultMap id="playlistTrackMap" type="PlaylistTrackVO">
        <result property="playlistId" column="PLAYLIST_ID" />
        <result property="trackId" column="TRACK_ID" />
        <result property="trackOrder" column="TRACK_ORDER" />
        <result property="playlistTrackCreateDate" column="PLAYLIST_TRACK_CREATE_DATE" />
        <result property="trackName" column="TRACK_NAME" />
        <result property="artists" column="TRACK_ARTIST" />
        <result property="trackDuration" column="TRACK_DURATION" />
        <result property="releaseDate" column="RELEASE_DATE" />
        <result property="trackImageUrl" column="TRACK_IMAGE_URL" />
    </resultMap>

    <select id="selectPlaylistTrack" parameterType="PlaylistTrackVO" resultMap="playlistTrackMap">
        SELECT
            pt.PLAYLIST_ID,
            pt.TRACK_ID,
            pt.TRACK_ORDER,
            pt.PLAYLIST_TRACK_CREATE_DATE,
            t.TRACK_NAME,
            t.TRACK_ARTIST,
            t.TRACK_DURATION,
            t.RELEASE_DATE,
            t.TRACK_IMAGE_URL,
            t.YOUTUBE_VIDEO_ID
        FROM PLAYLIST_TRACK pt
        JOIN TRACK t ON pt.TRACK_ID = t.TRACK_ID
        <where>
            <if test="playlistId != null and playlistId != 0">
                pt.PLAYLIST_ID = #{playlistId}
            </if>
            <if test="trackId != null and trackId != ''">
                pt.TRACK_ID = #{trackId}
            </if>

        </where>
        ORDER BY  pt.PLAYLIST_TRACK_CREATE_DATE
    </select>

    <delete id="deletePlaylistTrack" parameterType="PlaylistTrackVO" statementType="CALLABLE">
        {
            CALL DELETE_PLAYLIST_TRACK(
                #{playlistId, mode=IN, jdbcType=NUMERIC},
                #{trackId, mode=IN, jdbcType=VARCHAR},
                #{resultMsg, mode=OUT, jdbcType=VARCHAR}
            )
        }
    </delete>

</mapper>