<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kh.mapper.UserAuthorityMapper">

    <insert id="save" parameterType="UserAuthorityVO">
        INSERT INTO USER_AUTHORITY (USER_ID, ROLE_ID)
        VALUES (#{userId}, #{roleId})
    </insert>

    <insert id="insertUser" parameterType="kr.co.kh.model.User" useGeneratedKeys="true" keyColumn="USER_ID" keyProperty="id">
        INSERT INTO USERS (NAME, EMAIL, PASSWORD, USER_GENDER, BIRTH_DATE, CREATED_AT, IS_ACTIVE , is_EMAIL_VERIFIED , UPDATED_AT, ROLE_NO)
        VALUES (#{name}, #{email}, #{password}, #{gender, jdbcType=VARCHAR}, #{birthDate, jdbcType=VARCHAR} , sysdate , 1  , 1 , sysdate , 1)
    </insert>

    <select id="findByNameAndBirthDate" parameterType="HashMap" resultType="HashMap">
        SELECT *
        FROM USERS
        WHERE NAME = #{name} AND BIRTH_DATE = #{birthDate}
    </select>

</mapper>